   {% load static %}
{% load wagtailcore_tags %}

    <div class="btVerticalHeaderTop">
				<div class="btVerticalMenuTrigger">&nbsp;<div class="bt_bb_icon" data-bt-override-class="{}"><a href="/" target="_self"   data-ico-fa="&#xf0c9;" class="bt_bb_icon_holder"></a></div></div>
			
		<div class="btLogoArea">
			<div class="logo">
				<span>
					<a href="/"><img class="btMainLogo" data-hw="0.85" src={{page.header.logo.url}} alt="UDA Party"><img class="btAltLogo" src={{page.header.logo.url}} alt="UDA"></a></span>
			</div><!-- /logo -->
		</div><!-- /btLogoArea -->
	</div>
	<header class="mainHeader btClear gutter ">
		<div class="mainHeaderInner">
						<div class="btLogoArea menuHolder btClear">
				<div class="port">
											<div class="btHorizontalMenuTrigger">&nbsp;<div class="bt_bb_icon" data-bt-override-class="{}"><a href="#" target="_self"   data-ico-fa="&#xf0c9;" class="bt_bb_icon_holder"></a></div></div>
										<div class="logo">
						<span>
							<a href="/"><img class="btMainLogo" data-hw="0.85" src={{page.header.logo1.url}} alt="Party"><img class="btAltLogo" src={{page.header.logo1.url}} alt="Party"></a>						</span>
					</div><!-- /logo -->
										<div class="menuPort">
											<div class="topBarInMenu">
						<div class="topBarInMenuCell">
							<div class="btTopBox widget_search"><div class="btSearch"><div class="bt_bb_icon" data-bt-override-class="{}"><a href="#" target="_self"   data-ico-fa="&#xf002;" class="bt_bb_icon_holder"></a></div>
		<div class="btSearchInner gutter" role="search">
			<div class="btSearchInnerContent port">
				<form action="/" method="get"><input type="text" name="s" placeholder="Looking for..." class="untouched">
				<button type="submit" data-icon="&#xf105;"></button>
				</form>
				<div class="btSearchInnerClose"><div class="bt_bb_icon" data-bt-override-class="{}"><a href="#" target="_self"   data-ico-fa="&#xf00d;" class="bt_bb_icon_holder"></a></div></div>
			</div>
		</div></div></div><div class="btButtonWidget btAccentLightButton btWithLink"><a href="/home/donate" target="_blank" class="btButtonWidgetLink"><span class="btButtonWidgetText">DONATE</span></a></div></div><!-- /topBarInMenu -->
					</div><!-- /topBarInMenuCell -->
										<nav>
							<ul id="menu-primary-menu" class="menu"><li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-ancestor current-page-parent current_page_ancestor menu-item-has-children menu-item-44"><a href="/">Home</a>
<ul class="sub-menu">
	<li id="menu-item-2005" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-menu-ancestor current-menu-parent current-page-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-2005"><a href="/party">Party</a>
	{% comment %} <ul class="sub-menu">
		<li id="menu-item-2265" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-page-ancestor current-page-parent menu-item-2265"><a href="../../index.html">Home 01</a></li>
		<li id="menu-item-2264" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2134 current_page_item menu-item-2264"><a href="index.html" aria-current="page">Home 02</a></li>
	</ul> {% endcomment %}
</li>
	<li id="menu-item-2002" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2002"><a href="/candidate">Candidates</a>
	{% comment %} <ul class="sub-menu">
		<li id="menu-item-2262" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2262"><a href="../../../candidate/index.html">Home 01</a></li>
		<li id="menu-item-2263" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2263"><a href="../../../candidate/home/home-02/index.html">Home 02</a></li>
	</ul> {% endcomment %}
</li>
	<li id="menu-item-2003" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-2003"><a href="/grassroot">GrassRoot</a>
	{% comment %} <ul class="sub-menu">
		<li id="menu-item-2268" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2268"><a href="../../../grassroot/index.html">Home 01</a></li>
		<li id="menu-item-2267" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2267"><a href="../../../grassroot/home/home-02/index.html">Home 02</a></li>
	</ul> {% endcomment %}
</li>
</ul>
</li>
<li id="menu-item-43" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-43"><a href="/about-us">About</a>
<ul class="sub-menu">
	<li id="menu-item-2018" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2018"><a href="/about-us">About Us</a></li>
	{% comment %} <li id="menu-item-2019" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2019"><a href="/about-us/about-me">About Me</a></li> {% endcomment %}
	<li id="menu-item-2001" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2001"><a href="/about-us/team">Team</a></li>
	<li id="menu-item-1946" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1946"><a href="/about-us/events">Events</a></li>
	<li id="menu-item-2415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2415"><a href="/about-us/timeline">Timeline</a></li>
	{% comment %} <li id="menu-item-2020" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2020"><a href="/about-us/single-event">Single Event</a></li> {% endcomment %}
	<li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42"><a href="/contact">Contact</a></li>
</ul>
</li>
<li id="menu-item-1932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1932"><a href="/donation">Contribute</a>
<ul class="sub-menu">
<li id="menu-item-2022" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2022"><a href="/home/donate">Join Us</a></li>
	<li id="menu-item-2021" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2021"><a href="/home/donate">Donate & show love</a></li>
	<li id="menu-item-1963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963"><a href="/donation/volunteering">Volunteer</a></li>
	<li id="menu-item-1963" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1963"><a href="/donation/volunteering">Buy Product</a></li>
</ul>
</li>
<li id="menu-item-40" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-40"><a href="/news">News</a>
<ul class="sub-menu">
	<li id="menu-item-1197" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1197"><a href="/news/trending">Trending News</a></li>

	<li id="menu-item-1205" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1205"><a href="/news/all">All News</a></li>
	<li id="menu-item-2202" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-has-children menu-item-2202"><a href="/news/posts">Posts</a>

</li>
	<li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-59"><a href="/media">Media</a>
	<ul class="sub-menu">
		<li id="menu-item-1216" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-1216"><a href="/media/gallery">Gallery</a></li>
		<li id="menu-item-1217" class="menu-item menu-item-type-post_type menu-item-object-portfolio menu-item-1217"><a href="/media/videos">Video</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-41" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-41"><a href="/shop">Shop</a>
<ul class="sub-menu">
	<li id="menu-item-152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-152"><a href="/shop/products">Products</a></li>
	<li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47"><a href="/shop/cart">Cart</a></li>
	<li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46"><a href="/shop/checkout">Checkout</a></li>
	<li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45"><a href="/shop/account">My Account</a></li>
</ul>
</li>


</ul>
</li>
</ul>						</nav>
					</div><!-- .menuPort -->
				</div><!-- /port -->
			</div><!-- /menuHolder / btBelowLogoArea -->
		</div><!-- / inner header for scrolling -->
    </header><!-- /.mainHeader -->